<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit details</title>
</head>
<body>
    <h1>Edit Your Post..</h1>
    <h2>Post id: <%= post.id %></h2>
    <h2>Username: <%= post.username%></h2>
    <form>
        <textarea></textarea>
        <button>Submit</button>
    </form>
</body>
</html>