<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interpolation Syntax</title>
</head>
<body>
    <h1>This is the Home page</h1>
    <h1><%= 1 + 2 %></h1>
    <h1><%= "abhi_raj".toUpperCase() %></h1>
    <h1><%= ["abhi","shubhu","shubh"][0] %></h1>
</body>
</html>