<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h2>Hello Abhi this is the home page..</h2>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum fugiat laboriosam mollitia, ipsam dolor beatae non cumque omnis odit sit officia itaque, vero possimus. Deleniti veniam voluptatem dolores quis accusamus?
        Quas, quaerat cumque. Ut assumenda quasi dolorum sed obcaecati, eveniet voluptatibus incidunt molestiae doloribus tempora quam repudiandae laboriosam! Doloribus assumenda repellat rem magni a accusamus eligendi fuga odio in nesciunt.
        Id saepe labore at alias, ullam animi est tempore praesentium voluptatem dolorem dolor, obcaecati pariatur cupiditate, exercitationem dolores nemo quisquam iste consequuntur expedita ad? Ad exercitationem voluptates suscipit explicabo consequuntur.
        Molestiae nisi architecto aliquid voluptatibus sit, esse et veritatis quisquam incidunt magni ea deleniti quod officiis nam ipsa animi mollitia? Est possimus dicta minima harum nulla unde optio rem maxime!
        Illum ullam aliquid sunt esse consectetur, obcaecati fugiat, quibusdam laudantium doloribus aspernatur quasi quod ea! Reprehenderit porro consequatur fugiat numquam aut, at repudiandae quas rerum, quae adipisci nostrum natus esse.
    </p>
    <button>Click Me !!</button>
</body>
</html>